sim/
sim2/
bass/bass.exe
bass/*.rom
bass/tama.*
**/vunit_out
**/__pycache__

*.hex
*.rbf_r
db
greybox_tmp
hps_isw_handoff
incremental_db
output_files
PLLJ_PLLSPE_INFO.txt
simulation
vip
.qsys_edit
*_netlist
*_sim
*.bak
*.bsf
*.cdf
*.cmp
*.csv
*.done
*.f
*.pin
*.pof
*.ptf.*
*.qar
*.qarlog
*.qdf
*.qws
*.rbf
*.rpt
*.sip
*.sld
*.smsg
*.sof
*.sopc_builder
*.sopcinfo
*.spd
*.summary
*.txt
*.xml
*~
**/.DS_Store
build_id.mif
build_id.v
c5_pin_model_dump.txt
cr_ie_info.json
# Gateman directories and files
!.gateman/*
!gateware.json